<div class="banner">
  <div class="banner-image" href="#" data-url="/assets/images/wear3-1024.png"></div>
  <div class="banner-block">
    <div class="container">
      <h2 class="heading-2">The best of Google built in</h2>
      <p class="heading-3 optimal-readability">
        Android works perfectly with your favourite apps like Google Maps, Calendar, Gmail and YouTube.
      </p>
      <a class="text-button" href="#">See what’s new in the Play Store</a>
    </div>
  </div>
</div>
