<div class="banner">
  <a class="banner-image" href="#">
    <div class="banner-intro">
      <h2 class="banner-header">Android 6.0 Marshmallow</h2>
      <p>S’More to Love</p>
      <span class="text-button">Learn more</span>
    </div>
  </a>
</div>
