<div class="banner">
  <a class="banner-image" href="#" data-url="/assets/images/version-1024.jpg">
    <div class="banner-intro">
      <h2 class="heading-2 banner-header">Android 6.0 Marshmallow</h2>
      <p>S’More to Love</p>
      <span class="text-button">Learn more</span>
    </div>
  </a>
</div>
