<div class="page-content">
  {{> banner/index}}
  <section class="section-header">
    <h2 class="heading-2">Powering screens of all sizes</h2>
    <p class="one-half one-whole-mobile">
      Android is the customisable, easy-to-use operating system that powers more than
      a billion devices across the globe – from phones and tablets to watches, TV, cars and more to come.
    </p>
  </section>
  <section class="section-devices"></section>
  <section class="section-google">
    {{> banner/google}}
  </section>
  <section class="section-customized">
    <div class="container section-header">
      <h2 class="heading-2">Customised by you, for you</h2>
      <p class="one-half one-whole-mobile">
        Put the stuff that you care about right on your home screen: the latest news, the weather or a stream
        of your recent photos.
      </p>
      <p class="one-half one-whole-mobile">
        <a href="#">Customise your phone</a>
      </p>
    </div>
    <img class="block-img" src="/assets/images/devices.jpg" alt="devices" />
  </section>
  <section class="section-more">
    <div class="container section-header">
      <h2 class="heading-2">More from Android</h2>
    </div>
    <div class="container">
      <div class="row" data-match-height="true">
        {{#each cards}}
          <div class="column col-4 col-tablet-2 col-mobile-1">
            {{{card this}}}
          </div>
        {{/each}}
      </div>
    </div>
  </section>
</div>
