*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
html, body {
  background-color: #fff;
  color: @fontColor;
  margin: 0;
  min-width: 320px;
  speak: none;
  text-rendering: optimizelegibility;
}

::selection {
  background-color: @mainColor;
  color: #fff;
}
