@import "../../node_modules/normalize.css/normalize.css";
@import "./global";
@import "./mixin";

// page styles
@import "../home/banner";

// components styles
@import "../_components/navbar/navbar";

@smScreen: 850px;
@mdScreen: 1020px;
@mainColor: #6ab344;
@fontColor: #212121;
