<div class="footer">
  <p class="footer-disclaimer">
    Satellite imagery: © 2014 Astrium, DigitalGlobe
  </p>
  <p class="footer-disclaimer">
    Some features and devices may not be available in all areas
  </p>
  <div class="footer-logo">
    <a class="logo" href="#"><img src="/assets/images/googlelogo_dark_color_92x30dp.png"></a>
  </div>
  <a href="#" class="back-to-top">Back to top</a>
</div>
