{{! 用于小屏幕 }}
<div id="aside-container">
  <aside class="aside-menu">
    <header class="aside-header">
      <a href="#">
        <img alt="android" src="/assets/images/android-wordmark-ffffff.png" height="24">
      </a>
    </header>
    <ul class="nav aside-nav">
      <li class="nav-item">
        <a href="#">Android Story</a>
      </li>
      <li class="nav-item">
        <a href="#">Marshmallow</a>
      </li>
      <li class="nav-item">
        <a href="#">Switch to Android</a>
      </li>
      <li class="nav-item">
        <a href="#">Android for Work</a>
      </li>
      <li class="divider"></li>
      <li class="nav-item">
        <a href="#">Phones</a>
      </li>
      <li class="nav-item">
        <a href="#">Tablets</a>
      </li>
      <li class="nav-item">
        <a href="#">Wear</a>
      </li>
      <li class="nav-item">
        <a href="#">TV</a>
      </li>
      <li class="nav-item">
        <a href="#">Auto</a>
      </li>
      <li class="divider"></li>
      <li class="nav-item">
        <a href="#">Play</a>
      </li>
      <li class="nav-item">
        <a href="#">Pay</a>
      </li>
      <li class="divider"></li>
      <li class="nav-item">
        <a href="#">Android One</a>
      </li>
      <li class="nav-item">
        <a href="#">Android M Developer Preview</a>
      </li>
      <li class="nav-item">
        <a href="#">Android Developer Resources</a>
      </li>
      <li class="nav-item">
        <a href="#">Android Open Source Project</a>
      </li>
    </ul>
  </aside>
</div>
