<ul class="dropdown-menu-extend">
  <li class="dropdown-menu-item">
    <a href="#">
      <span class="icon sprite-nav sprite-phones"></span>
      Phones
    </a>
  </li>
  <li class="dropdown-menu-item">
    <a href="#">
      <span class="icon sprite-nav sprite-tablets"></span>
      Tablets
    </a>
  </li>
  <li class="dropdown-menu-item">
    <a href="#">
      <span class="icon sprite-nav sprite-wear"></span>
      Wear
    </a>
  </li>
  <li class="dropdown-menu-item">
    <a href="#">
      <span class="icon sprite-nav sprite-tv"></span>
      TV
    </a>
  </li>
  <li class="dropdown-menu-item">
    <a href="#">
      <span class="icon sprite-nav sprite-auto"></span>
      Auto
    </a>
  </li>
</ul>
