<ul class="dropdown-menu-extend">
  <li class="dropdown-menu-item">
    <a href="#">
      <span class="icon sprite-nav sprite-history"></span>
      Android Story
    </a>
  </li>
  <li class="dropdown-menu-item">
    <a href="#">
      <span class="icon sprite-nav sprite-marshmallow"></span>
      Marshmallow
    </a>
  </li>
  <li class="dropdown-menu-item">
    <a href="#">
      <span class="icon sprite-nav sprite-switch"></span>
      Switch to Android
    </a>
  </li>
  <li class="dropdown-menu-item">
    <a href="#">
      <span class="icon sprite-nav sprite-work"></span>
      Android for Work
    </a>
  </li>
</ul>
