<div class="navbar">
  <div class="navbar-header">
    {{! for mobile toggle navbar }}
    <button class="navbar-toggle">
      <div class="hamburger-wrapper">
        <span class="icon icon-gray-hamburger-hover"></span>
        <span class="icon icon-gray-hamburger"></span>
      </div>
    </button>
    {{! nav brand }}
    <a class="navbar-brand" href="/">
      <img alt="android" src="/assets/images/android-wordmark-8EC047.png" height="28">
    </a>
  </div>
  <ul id="navbar-nav" class="navbar-nav">
    <li>
      <a class="nav">DISCOVER<i class="icon icon-caret"></i></a>
      {{> navbar/discorver}}
    </li>
    <li>
      <a class="nav">DEVICES<i class="icon icon-caret"></i></a>
      {{> navbar/devices}}
    </li>
    <li>
      <a class="nav">PLAY</a>
    </li>
    <li>
      <a class="nav">PAY</a>
    </li>
    <li class="relative">
      <a class="nav">MORE<i class="icon icon-caret"></i></a>
      {{> navbar/more}}
    </li>
  </ul>
</div>
