<ul class="dropdown-menu">
  <li class="dropdown-menu-item">
    <a href="#">Android One</a>
  </li>
  <li class="divider"></li>
  <li class="dropdown-menu-item">
    <a href="#">Android M Developer Preview</a>
  </li>
  <li class="dropdown-menu-item">
    <a href="#">Android Developer Resources</a>
  </li>
  <li class="dropdown-menu-item">
    <a href="#">Android Open Source Project</a>
  </li>
</ul>
