@import "dropdown";
@import "sprite-nav";
@import "aside";

@navbarHeightMobile: 56px;
@navbarHeight: 80px;
@navbarFontColor: #757575;

body {
  padding-top: @navbarHeightMobile;

  @media (min-width: @smScreen) {
    padding-top: @navbarHeight;
  }
}

.navbar, .navbar-header {
  .clearfix
}

.navbar {
  position: fixed;
  background: #fff;
  left: 0;
  top: 0;
  transition: box-shadow 0.25s cubic-bezier(1, 0, 0, 1);
  width: 100%;
  z-index: 11;
  height: @navbarHeight;

  @media (max-width: @smScreen) {
    height: @navbarHeightMobile;
    box-shadow: 0 1px 6px rgba(0,0,0,0.35);
  }
}

.navbar-header {
  float: left;
}

.navbar-brand {
  float: left;
  width: 164px;
  height: @navbarHeight;
  padding: 26px 0;
  padding-left: 24px;

  @media (max-width: @smScreen) {
    position: absolute;
    top: 0;
    left: 50%;
    height: @navbarHeightMobile;
    padding: 16px 0;
    transform: translateX(-50%);
    text-align: center;

    img {
      height: 24px;
    }
  }
}

.navbar-toggle {
  display: inline-block;
  position: relative;
  width: 66px;
  height: @navbarHeightMobile;
  padding: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: 0;

  .hamburger-wrapper {
    position: relative;
    width: 18px;
    height: 18px;
  }

  .icon-gray-hamburger-hover, .icon-gray-hamburger {
    background-image: url("http://localhost:3000/assets/images/grey-2x-s8c776164d7.png");
    background-repeat: no-repeat;
    background-size: 20px auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
  }

  .icon-gray-hamburger-hover {
    background-position: 0 -124px;
  }

  .icon-gray-hamburger {
    background-position: 0 -142px;
  }

  &:hover .icon-gray-hamburger {
    opacity: 0;
  }

  @media (min-width: @smScreen) {
    display: none;
  }
}

.navbar-nav {
  float: right;
  margin: 0;
  margin-right: 40px;
  padding: 0;
  list-style: none;

  @media (max-width: @smScreen) {
    display: none;
  }

  >li {
    float: left;

    .nav {
      display: block;
      position: relative;
      padding: 0 16px;
      line-height: @navbarHeight;
      color: @navbarFontColor;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.5px;
      cursor: pointer;
      white-space: nowrap;

      &:hover {
        color: @mainColor;
      }

      @media (min-width: @smScreen) {
        line-height: @navbarHeight;
      }
    }

    &.active {
      .nav {
        color: @mainColor;

        .icon-caret {
          .caret(up; 5px);
          margin-top: -6px;
        }
      }
      .dropdown-menu-extend, .dropdown-menu {
        display: block;
      }
    }
  }

  .icon-caret {
    .caret(down; 5px);

    margin-left: 4px;
    margin-top: 3px;
    opacity: .9;
  }
}

.nav, .dropdown-menu {
  list-style: none;

  .divider {
    background-color: #dcdcdc;
    height: 1px;
    margin: 11px 0;
    overflow: hidden;
  }
}
