{{#card}}
  <figure class="card">
    <div class="card-img">
      <img src="{{img}}">
    </div>
    <figcaption class="card-footer">
      <h3 class="heading-3">{{title}}</h3>
    </figcaption>
  </figure>
{{/card}}
